<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout _id="vLayoutMain">
    <vaadin-label style-name="h2" plain-text _id="titleLabel"></vaadin-label>
    <vaadin-label style-name="h3" plain-text _id="vraagKlantLabel"></vaadin-label>
    <vaadin-check-box-group caption="Gedemonteerd door" style-name="horizontal" data-item-type="com.biprom.bram.backend.data.entity.mongodbEntities.Personeel" _id="checkbGroupTechniekers"></vaadin-check-box-group>
    <vaadin-check-box-group caption="Hersteld door" style-name="horizontal" data-item-type="com.biprom.bram.backend.data.entity.mongodbEntities.Personeel" _id="checkbGroupTechniekersHersteld"></vaadin-check-box-group>
    <vaadin-horizontal-layout caption="Toestel binnengebracht op" margin _id="hLayoutBinnengebracht">
     <vaadin-check-box-group style-name="horizontal" width-full data-item-type="java.lang.String" _id="cbgEUPallet">
      <option item="EU - pallet">EU - pallet</option>
      <option item="Pallet">Pallet</option>
      <option item="Los">Los</option>
     </vaadin-check-box-group>
     <vaadin-label plain-text>
       Andere 
     </vaadin-label>
     <vaadin-text-field _id="tfBinnengebrachtAndereManier" :middle :center></vaadin-text-field>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout margin>
     <vaadin-combo-box caption="Positie magazijn" data-item-type="java.lang.String" _id="cbPositieMagazijn">
      <option item="1">Option 1</option>
      <option item="2">Option 2</option>
      <option item="3">Option 3</option>
     </vaadin-combo-box>
     <vaadin-text-field caption="Ander Positie" _id="tfAnderePositie"></vaadin-text-field>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout width-full height="200px" _id="hLayoutAansluitingen">
     <vaadin-combo-box caption="Elektrische Aansluiting" data-item-type="java.lang.String" _id="cbElektrischeAansluiting"></vaadin-combo-box>
     <vaadin-image size-full _id="imgElektrischeAansluiting" :bottom :center></vaadin-image>
     <vaadin-combo-box caption="Ontluchting" data-item-type="java.lang.String" _id="cbZijdeOntluchting"></vaadin-combo-box>
     <vaadin-image size-full _id="imgOntluchtingAansluiting" :bottom :center></vaadin-image>
     <vaadin-combo-box caption="Montageplaten" data-item-type="java.lang.String" _id="cbMontagePlaten"></vaadin-combo-box>
     <vaadin-image size-full _id="imgMontagePlatenAansluiting" :bottom :center></vaadin-image>
    </vaadin-horizontal-layout>
    <vaadin-text-area caption="Bijkomend commentaar Pomp" width-full _id="taBijkomendCommentaarPomp"></vaadin-text-area>
    <vaadin-horizontal-layout width-full margin>
     <vaadin-text-field caption="Uitgebreid Pomptype" width-full _id="tfUitGebreidPompType" :expand></vaadin-text-field>
     <vaadin-text-field caption="ProductDatum Pomp" _id="tfProductDatumPomp"></vaadin-text-field>
     <vaadin-text-field caption="Land Pomp" _id="tfLandPomp"></vaadin-text-field>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout width-full margin>
     <vaadin-text-field caption="ArtikelNummer Pomp" width-full _id="tfArtikelNummerPomp" :expand></vaadin-text-field>
     <vaadin-text-field caption="Vermogen Pomp" _id="tfPompVermogen"></vaadin-text-field>
     <vaadin-text-field caption="Serienummer Pomp" width-full _id="tfSerieNummerPomp" :expand></vaadin-text-field>
     <vaadin-text-field caption="Qnom" _id="tfQnom"></vaadin-text-field>
     <vaadin-text-field caption="Hnom" _id="tfHnom"></vaadin-text-field>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout caption="Test Meetgegevens" width-full height="146px" margin>
     <vaadin-text-field caption="Motortype" width-full _id="tfMotorType" :expand></vaadin-text-field>
     <vaadin-text-field caption="Nominaal vermogen Motor" _id="tfNominaalVermogen"></vaadin-text-field>
     <vaadin-text-field caption="toerental motor" _id="tfToerental"></vaadin-text-field>
     <vaadin-text-field caption="ArtikelNummer motor" width-full _id="tfArtikelNummerMotor" :expand></vaadin-text-field>
     <vaadin-text-field caption="U driehoek" _id="tfUDriehoek"></vaadin-text-field>
     <vaadin-text-field caption="U ster" _id="tfUSter"></vaadin-text-field>
     <vaadin-text-field caption="ProductiedatumMotor" _id="tfProductieDatumMotor"></vaadin-text-field>
     <vaadin-vertical-layout size-auto>
      <vaadin-check-box caption="Freq controller" _id="cbFreqController"></vaadin-check-box>
      <vaadin-check-box caption="Niet standaard pomp" _id="cbNietStandardPomp"></vaadin-check-box>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
    <vaadin-vertical-layout caption="Checklist Motor">
     <vaadin-horizontal-layout _id="hLaytoutMotorElektrischInOrde">
      <vaadin-radio-button-group style-name="horizontal" data-item-type="java.lang.String" _id="rbgMotorElektrisch">
       <option item="NL_Motor Elektrisch in orde_NLFR_Moteur électrique OK_FR">Motor Elektrisch in orde</option>
       <option item="NL_Motor NIET Elektrisch in orde_NLFR_Moteur électrique NOK_FR">Motor NIET Elektrisch in orde</option>
      </vaadin-radio-button-group>
      <vaadin-radio-button-group style-name="horizontal" data-item-type="java.lang.String" _id="rbgMotorMechanisch">
       <option item="NL_Motor Mechanisch in orde_NLFR_Moteur mécanique OK_FR">Motor mechanisch in orde</option>
       <option item="NL_Motor Mechanisch NIET in orde_NLFR_Moteur mécanique NOK_FR">Motor niet mechanisch in orde</option>
      </vaadin-radio-button-group>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout caption="Motor Elektrische eigenschappen" size-auto _id="vLayoutMotorElektrisch">
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgIsolatieweerstand">
       <option item="NL_Isolatieweerstand OK_NLFR__FR">Isolatieweerstand OK</option>
       <option item="NL_Isolatieweerstand is oneindig_NLFR_La résistance d'isolement est infinie_FR">Isolatieweerstand is oneindig</option>
       <option item="NL_Motor aan massa_NLFR_Moteur à la masse_FR">Motor aan massa</option>
      </vaadin-check-box-group>
      <vaadin-text-field placeholder="Isolatieweerstand" _id="tfIsolatieWeerstand"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgWikkelingswaardes">
       <option item="NL_Wikkelingswaardes OK_NLFR_Résistance du bobinage OK_FR">Wikkelingswaardes OK</option>
       <option item="NL_Wikkelingswaardes NOK_NLFR_Résistance du bobinage NOK_FR">Wikkelingswaardes NOK</option>
      </vaadin-check-box-group>
      <vaadin-text-field placeholder="RFase 1" _id="tfRfase1"></vaadin-text-field>
      <vaadin-text-field placeholder="RFase 2" _id="tfRfase2"></vaadin-text-field>
      <vaadin-text-field placeholder="fase 3" height="37px" _id="tfRfase3"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgMotorVerbrand">
      <option item="NL_Motor niet verbrand_NLFR_Moteur n'est pas brulé_FR">Motor niet verbrand</option>
      <option item="NL_Motor verbrand_NLFR_Moteur est brulé_FR">Motor verbrand</option>
     </vaadin-check-box-group>
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgControlBox">
      <option item="NL_Controlbox NVT_NLFR_Option1_FR">Controlbox NVT</option>
      <option item="NL_Controlbox OK_NLFR_Controlbox OK_FR">Controlbox OK</option>
      <option item="NL_Controlbox Defect_NLFR_Controlbox NOK_FR">Controlbox Defect</option>
      <option item="NL_Water in Controlbox_NLFR_Eau dans le Controlbox_FR">Water in Controlbox</option>
     </vaadin-check-box-group>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgWaterInMotor">
       <option item="NL_Geen Water in motor_NLFR__FR">Geen Water in motor</option>
       <option item="NL_water in motor_NLFR_L'eau dans le moteur_FR">water in motor</option>
       <option item="NL_Water in motorkabel_NLFR_Eau dans le câble moteur_FR">Water in motorkabel</option>
       <option item="NL_Water in krimpmof_NLFR_Eau dans le thermo rétractable_FR">Water in krimpmof</option>
       <option item="NL_Water in onderwaterkabel_NLFR_Eau dans le câble submersible_FR">Water in onderwaterkabel</option>
       <option item="NL_Water in de oliekamer_NLFR_Eau dans le chambre d'huile_FR">Water in de oliekamer</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfExtraCommentaarWaterInMotor"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgMotorkabel">
       <option item="NL_Motorkabel OK_NLFR_Cable de moteur OK_FR">Motorkabel OK</option>
       <option item="NL_Motorkabel beschadigd_NLFR_Cable de moteur endommagé_FR">Motorkabel beschadigd</option>
       <option item="NL_Kabelfiche beschadigd_NLFR_Fiche de cable endommagé_FR">Kabelfiche beschadigd</option>
       <option item="NL_Kabeldoorgang beschadigd_NLFR_Entree de cable endommagé_FR">Kabeldoorgang beschadigd</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfCommentaarMotorkabel"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgVochtInMotor">
      <option item="NL_Motor droog_NLFR_Moteur est sec_FR">Motor droog</option>
      <option item="NL_Water in motor_NLFR_Eau dans le moteur_FR">Water in motor</option>
      <option item="NL_Olie in motor_NLFR_Huile dans le moteur_FR">Olie in motor</option>
      <option item="NL_Vet in motor_NLFR_Grasse dans le moteur_FR">Vet in motor</option>
      <option item="NL_Vuil in motor_NLFR_Salle dans le moteur_FR">Vuil in motor</option>
     </vaadin-check-box-group>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout caption="Motor Mechanische eigenschappen" size-auto _id="vLayoutMotorMechanisch">
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgMotorLagers">
       <option item="NL_Motorlagers OK_NLFR__FR">Motorlagers OK</option>
       <option item="NL_Lagers lawaai_NLFR_Les roulements font du bruit_FR">Lagers lawaai</option>
       <option item="NL_Lagers defect_NLFR_Les roulements sont défectueux_FR">Lagers defect</option>
      </vaadin-check-box-group>
      <vaadin-horizontal-layout>
       <vaadin-label plain-text>
         Lager AS : 
       </vaadin-label>
       <vaadin-text-field _id="tfLagerAsMotorCommentaar"></vaadin-text-field>
       <vaadin-label plain-text>
         Lager Vent : 
       </vaadin-label>
       <vaadin-text-field _id="tfLagerVentMotorCommentaar1"></vaadin-text-field>
      </vaadin-horizontal-layout>
     </vaadin-horizontal-layout>
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgMotorDichtingen">
      <option item="NL_Motordichtingen OK_NLFR_Option1_FR">Motordichtingen OK</option>
      <option item="NL_Motordichtingen uitgezet_NLFR_Option2_FR">Motordichtingen uitgezet</option>
      <option item="NL_Motordichtingen beschadigd_NLFR_Option3_FR">Motordichtingen beschadigd</option>
      <option item="NL_Motordichtingen gesmolten_NLFR_Option4_FR">Motordichtingen gesmolten</option>
      <option item="NL_Motordichtingen gescheurd_NLFR_Option5_FR">Motordichtingen gescheurd</option>
     </vaadin-check-box-group>
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgVentilator">
      <option item="NL_Ventilator OK_NLFR__FR">Ventilator OK</option>
      <option item="NL_Ventilatorkap defect_NLFR_Couvercle de ventilateur est défectueux_FR">Ventilatorkap defect</option>
      <option item="NL_Ventilator defect_NLFR_ventilateur est défectueux_FR">Ventilator defect</option>
      <option item="NL_Klemmenblok defect_NLFR_Option4_FR">Klemmenblok defect</option>
      <option item="NL_Klemmendeksel defect_NLFR_Option5_FR">Klemmendeksel defect</option>
     </vaadin-check-box-group>
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgBeschadingMotor">
      <option item="NL_Geen defecten binnenwerk motor_NLFR__FR">Geen defecten binnenwerk motor</option>
      <option item="NL_Rotor beschadigd_NLFR_Rotor est endommagé_FR">Rotor beschadigd</option>
      <option item="NL_Stator defect_NLFR_Stator est endommagé_FR">Stator defect</option>
      <option item="NL_Flens DE defect_NLFR_bride DE est défectueux_FR">Flens DE defect</option>
      <option item="NL_Flens NDE defect_NLFR_bride NDE est défectueux_FR">Flens NDE defect</option>
     </vaadin-check-box-group>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout caption="Pompeigenschappen" size-auto _id="vLayoutPompeigenschappen">
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgGarantie">
      <option item="NL_Garantie NEEN_NLFR_Garantie NON_FR">Garantie NEEN</option>
      <option item="NL_Garantie JA_NLFR_Garantie OUI_FR">Garantie JA</option>
     </vaadin-check-box-group>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgBinnengebrachtPomp">
       <option item="NL_Volledig en Gemonteerd binnengebracht_NLFR__FR">Volledig en Gedemonteerd binnengebracht</option>
       <option item="NL_Pomp verkeerd gemonteerd_NLFR_Pompe mal assemblée_FR">Pomp verkeerd gemonteerd</option>
       <option item="NL_Gedemonteerd binnengebracht_NLFR_livrée démontée_FR">Gedemonteerd binnengebracht</option>
       <option item="NL_Onderdelen ontbreken_NLFR_pièces manquantes_FR">Onderdelen ontbreken</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfCommentaarPompBinnengebracht"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgStaatPomp">
       <option item="NL_Pomp in goede staat_NLFR__FR">Pomp in goede staat</option>
       <option item="NL_Pomp ondemonteerbaar_NLFR_Pompe inaccessible_FR">Pomp ondemonteerbaar</option>
       <option item="NL_In zeer slechte staat_NLFR_Pompe en très mauvais état_FR">In zeer slechte staat</option>
       <option item="NL_Zeer moeilijk demonteerbaar_NLFR_Pompe très difficile à démonter_FR">Zeer moeilijk demonteerbaar</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfCommentaarPompDemonteerbaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgPrimaireAsafdichtingen">
       <option item="NL_Asafdichting OK_NLFR__FR">Primaire asafdichting OK</option>
       <option item="NL_Asafdichting ingelopen_NLFR_Garniture mécanique est épuisée_FR">Primaire asafdichting ingelopen</option>
       <option item="NL_Asafdichting beschadigd_NLFR_Garniture mécanique est endommagée_FR">Primaire asafdichting beschadigd</option>
       <option item="NL_Asafdichting versleten_NLFR_Garniture mécanique est usée_FR">Primaire asafdichting versleten</option>
       <option item="NL_Asafdichting uitgezet_NLFR_Garniture mécanique est éteint_FR">Primaire asafdichting uitgezet</option>
       <option item="NL_Asafdichting gebarsten_NLFR_Garniture mécanique est cassé_FR">Primaire asafdichting gebarsten</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfPrimaireAsafdichtingCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgSecundaireAsafdichtingen">
       <option item="NL_Secundaire asafdichting OK_NLFR_Option1_FR">Secundaire asafdichting OK</option>
       <option item="NL_Secundaire asafdichting ingelopen_NLFR_Garniture mécanique secundair est épuisée_FR">Secundaire asafdichting ingelopen</option>
       <option item="NL_Secundaire asafdichting beschadigd_NLFR_Garniture mécanique secundair est endommagée_FR">Secundaire asafdichting beschadigd</option>
       <option item="NL_Secundaire asafdichting versleten_NLFR_Garniture mécanique secundair est usée_FR">Secundaire asafdichting versleten</option>
       <option item="NL_Secundaire asafdichting uitgezet_NLFR_Garniture mécanique secundair est éteint_FR">Secundaire asafdichting uitgezet</option>
       <option item="NL_Secundaire asafdichting gebarsten_NLFR_Garniture mécanique secundair est cassé_FR">Secundaire asafdichting gebarsten</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfSecundaireAsafdichtingCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgPompas">
       <option item="NL_Pompas OK_NLFR__FR">Pompas OK</option>
       <option item="NL_Pompas ingelopen_NLFR_L'arbre de la pompe est épuisé_FR">Pompas ingelopen</option>
       <option item="NL_Pompas Putcorrosie_NLFR_L'arbre de la pompe corrosion perforante_FR">Pompas Putcorrosie</option>
       <option item="NL_Pompas Beschadigd_NLFR_L'arbre de la pompe est endommagé_FR">Pompas Beschadigd</option>
       <option item="NL_Pompas Versleten_NLFR_L'arbre de la pompe est usé_FR">Pompas Versleten</option>
       <option item="NL_Pompas Gebroken_NLFR_L'arbre de la pompe est cassé_FR">Pompas Gebroken</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfPompasCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgWaaiers">
       <option item="NL_Waaiers OK_NLFR__FR">Waaiers OK</option>
       <option item="NL_Waaiers Ingelopen_NLFR_Les roues sont épuisées_FR">Waaiers Ingelopen</option>
       <option item="NL_Waaiers Beschadigd_NLFR_Les roues sont endommagées_FR">Waaiers Beschadigd</option>
       <option item="NL_Waaiers Versleten_NLFR_Les roues sont usées_FR">Waaiers Versleten</option>
       <option item="NL_Waaiers Gebroken_NLFR_Les roues sont cassées_FR">Waaiers Gebroken</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfWaaiersCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgKamers">
       <option item="NL_Kamers OK_NLFR__FR">Kamers OK</option>
       <option item="NL_Kamers beschadigd_NLFR_Les chambres endommagées_FR">Kamers beschadigd</option>
       <option item="NL_Kamers Gebroken_NLFR_Les chambres cassées_FR">Kamers Gebroken</option>
       <option item="NL_Kamers Versleten_NLFR_Les chambres épuisées_FR">Kamers Versleten</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfKamersCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgDichtingen">
       <option item="NL_Dichtingen OK_NLFR__FR">Dichtingen OK</option>
       <option item="NL_Dichtingen Uitgezet_NLFR_Les joints sont expansés_FR">Dichtingen Uitgezet</option>
       <option item="NL_Dichtingen Beschadigd_NLFR_Les joints sont endommagés_FR">Dichtingen Beschadigd</option>
       <option item="NL_Dichtingen Gesmolten_NLFR_Les joints sont fondu_FR">Dichtingen Gesmolten</option>
       <option item="NL_Dichtingen Gescheurd_NLFR_Les joints sont cassés_FR">Dichtingen Gescheurd</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfDichtingenCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgAantasting">
       <option item="NL_Geen aantasting_NLFR__FR">Geen aantasting</option>
       <option item="NL_Aantasting Kopstuk_NLFR_Endommagement de la tête_FR">Aantasting Kopstuk</option>
       <option item="NL_Aantasting Voetstuk_NLFR_Endommagement du socle_FR">Aantasting Voetstuk</option>
       <option item="NL_Aantasting mantel_NLFR_Endommagement de la chemise_FR">Aantasting mantel</option>
       <option item="NL_Aantasting kamers_NLFR_Endommagement de des chambres_FR">Aantasting kamers</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfAantastingCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgLagers">
       <option item="NL_Lagers OK_NLFR__FR">Lagers OK</option>
       <option item="NL_Lagers ingelopen_NLFR_Les bagues de palier sont épuisées_FR">Lagers ingelopen</option>
       <option item="NL_Lagers beschadigd_NLFR_Les bagues de palier sont endommagées_FR">Lagers beschadigd</option>
       <option item="NL_Lagers gebarsten_NLFR_Les bagues de palier sont brisées_FR">Lagers gebarsten</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfLagersCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgSpaltringen">
       <option item="NL_Spaltringen OK_NLFR__FR">Spaltringen OK</option>
       <option item="NL_Spaltringen ingelopen_NLFR_Les bagues d'étanchéité sont épuisées_FR">Spaltringen ingelopen</option>
       <option item="NL_Spaltringen beschadigd_NLFR_Les bagues d'étanchéité sont endommagées_FR">Spaltringen beschadigd</option>
       <option item="NL_Spaltringen gebarsten_NLFR_Les bagues d'étanchéité sont cassées_FR">Spaltringen gebarsten</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfSpaltRingenCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgBinnenwerk">
      <option item="NL_Binnenwerk OK_NLFR__FR">Binnenwerk OK</option>
      <option item="NL_Binnenwerk volledig stukgedraaid_NLFR_La complète hydraulique interne est brisée_FR">Binnenwerk volledig stukgedraaid</option>
     </vaadin-check-box-group>
     <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgVuilInPomp">
      <option item="NL_Geen vuil_NLFR__FR">Geen vuil</option>
      <option item="NL_Vuil in pomp_NLFR_Sale dans la pompe_FR">Vuil in pomp</option>
      <option item="NL_zand in pomp_NLFR_sable dans la pompe_FR">zand in pomp</option>
      <option item="NL_kalk in pomp_NLFR_chaux dans la pompe_FR">kalk in pomp</option>
      <option item="NL_ijzer in pomp_NLFR_fer dans la pompe_FR">ijzer in pomp</option>
     </vaadin-check-box-group>
     <vaadin-horizontal-layout>
      <vaadin-check-box-group style-name="horizontal optionGroupRedStyle" data-item-type="java.lang.String" _id="cbgStatusPomp">
       <option item="NL_Geen oorzaak_NLFR__FR">Geen oorzaak</option>
       <option item="NL_Pomp drooggedraaid_NLFR_Pompe a tourné sec_FR">Pomp drooggedraaid</option>
       <option item="NL_Pomp gecaviteerd_NLFR_Pompe a cavitation_FR">Pomp gecaviteerd</option>
       <option item="NL_Pomp bevroren_NLFR_Pompe est gelée_FR">Pomp bevroren</option>
       <option item="NL_Pomp te laag gedraaid_NLFR_Pompe a tourné trop basse_FR">Pomp te laag gedraaid</option>
      </vaadin-check-box-group>
      <vaadin-text-field _id="tfPompStatusCommentaar"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout style-name="hLayoutRedStyle" _id="hLayoutNabehandeling">
      <vaadin-check-box caption="Geen nabehandeling" description="Geen nabehandeling" _id="checkbGeenNabehandeling"></vaadin-check-box>
      <vaadin-check-box caption="Herschilderen" _id="checkbHerschilderen"></vaadin-check-box>
      <vaadin-check-box caption="Zandstralen" _id="checkbZandstralen"></vaadin-check-box>
      <vaadin-check-box caption="Geen logo" _id="checkbGeenLogo"></vaadin-check-box>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout size-full _id="vGridLayout">
     <vaadin-button icon="fonticon://Vaadin-Icons/e687" style-name="primary" plain-text _id="bGenereerMateriaalLijst">
       Geneer materiaallijst 
     </vaadin-button>
     <vaadin-grid height-mode="undefined" width-full data-item-type="com.biprom.bram.backend.data.entity.mongodbEntities.Product" _id="productGrid"></vaadin-grid>
    </vaadin-vertical-layout>
    <vaadin-horizontal-layout>
     <vaadin-vertical-layout size-auto _id="vLayoutDemontage">
      <vaadin-date-time-field caption="Datum Demontage" _id="dateDemontage"></vaadin-date-time-field>
      <vaadin-check-box caption="Direct te herstellen" _id="checkbDirectTeHerstellen"></vaadin-check-box>
      <vaadin-text-field caption="Uren demontage" _id="tfUrenDemontage"></vaadin-text-field>
      <vaadin-check-box caption="Bestekkosten aanrekenen ?" _id="checkbBestekkostenAanrekenen"></vaadin-check-box>
      <vaadin-check-box caption="Demontage afgewerkt" _id="checkbDemontageAfgewerkt"></vaadin-check-box>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout size-auto _id="vLayoutHerstelling">
      <vaadin-date-field caption="Hersteldatum" _id="datefHerstelDatum"></vaadin-date-field>
      <vaadin-date-time-field caption="Uiterste Hersteldatum" _id="dtUitersteHerstelDatum"></vaadin-date-time-field>
      <vaadin-text-field caption="Uren herstelling" _id="tfUrenHerstelling"></vaadin-text-field>
      <vaadin-text-field caption="Uren reinigen" _id="tfUrenReinigen"></vaadin-text-field>
      <vaadin-check-box caption="Herstelling Afgewerkt" description="Selectie na Herstellen pomp" _id="checkbHerstellingAfgewerkt"></vaadin-check-box>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout size-auto>
      <vaadin-text-field caption="Debiet [m3/h]" description="Debiet [m3/h]" _id="tfDebiet"></vaadin-text-field>
      <vaadin-text-field caption="Druk [bar]" _id="tfDruk"></vaadin-text-field>
      <vaadin-text-field caption="Druktest vuilwater [bar]" _id="tfDebietVuilWater"></vaadin-text-field>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
    <vaadin-upload button-caption="Voeg foto aan ticket" icon="fonticon://Vaadin-Icons/e7bb" style-name="friendly" _id="uploadFoto"></vaadin-upload>
    <vaadin-grid-layout width-full _id="imageGird">
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
     <row>
      <column></column>
      <column></column>
     </row>
    </vaadin-grid-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>